@{
    ViewBag.Title = "Tableau de bord";
}

@using Iot.Mvc.Models
@model TableauDeBordModel

<br />
<br />
<br />

<h1>@ViewBag.Title</h1>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">
    const ctx = document.getElementById('myChart');
    var lstheure = [];
    var lsttemp = [];

    @foreach (var d in Model.lstHeure)
    {
        @:lstheure.push("@d");
    }

     @foreach (var d in Model.lstTemprature)
    {
        @:lsttemp.push("@d");
    }

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: lstheure,
            datasets: [{
                label: 'Température (en Celcius)',
                data: lsttemp,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

