@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h2>État actuel de la serre</h2>
    <p></p>
    <p class="lead">Température :</p>
    <p></p>
    <p class="lead">Pourcentage d'ouverture de la porte :</p>
    <p></p>
    <p></p>
    <p><div id="timer"></div></p>
    <p></p>
    <p><button class="btn btn-default">Actualiser</button></p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Ouvrir la porte</h2>
        <p>Permet d'ouvrir la porte de la serre.</p>
        <p><button class="btn btn-default" onclick="SendMessageOpenDoor()">Ouvrir</button></p>
    </div>
    <div class="col-md-5">
        <h2>Fermer la porte</h2>
        <p>Permet de fermer la porte de la serre.</p>
        <p><button class="btn btn-default" onclick="SendMessageCloseDoor()">Fermer</button></p>
        
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-5">
        <h2>Mode Manuel</h2>
        <p>Modifier l'ouverture de la porte manuellement (en %)</p>
        <div id="ManualForm"></div>
    </div>
    <div class="col-md-5">
        <h2>Mode Automatique</h2>
        <p>Modifier l'ouverture de la porte automatique. Cela désactivera le mode automatique.</p>
        <p><button class="btn btn-default" onclick="SendMessageSetAutomatic()">Activer Mode Automatique</button></p>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#ManualForm').load('/Home/ModeManuelForm');
    });

    var temps = 0; 

    // Inspiré de https://www.w3schools.com/howto/howto_js_countdown.asp
    var x = setInterval(function () {

        temps = temps + 1

        if (temps >= 60) {
            document.getElementById("timer").innerHTML = "Dernière actualisation : Il y a " + Math.floor(temps / 60) + " minute(s)";
        } else {
            document.getElementById("timer").innerHTML = "Dernière actualisation : Il y a " + temps + " seconde(s)";
        }
        

    }, 1000);

</script> 

