@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ouvrir la porte</h2>
        <p>Permet d'ouvrir la porte de la serre.</p>
        <p><button class="btn btn-default" onclick="SendMessage()">Ouvrir</button></p>
    </div>
    <div class="col-md-4">
        <h2>Fermer la porte</h2>
        <p>Permet de fermer la porte de la serre.</p>
        <p><button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Fermer</button></p>
    </div>
    <div class="col-md-4">
        <h2>Température</h2>
        <p>Voir la température du système</p>
        <p><button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Température</button></p>
    </div>
</div>